*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white
}

.Animal {
    display: flex;
    justify-content: space-around;
    background-color: black;
    margin-top: 50px;
    border-radius: 10px;
    gap: 20px;
}
.Black_Panther img{
    width: 500px;
    transition: transform 0.3s ease;
}
.Black_Panther img:hover{
    transform: scale(1.05);


}
.panther_video video{
    margin-right: 20px;
    margin-top: 20px;
}
.Panther_details {
    margin-top: 30px;
    
}
.Black_Panther audio{
    margin-left: 60px;

}
.Panther_details h2{
    color: white;
}

.Car {
    display: flex;
    justify-content: space-around;
    background-color:brown;
    margin-top: 50px;
    border-radius: 10px;
    gap: 20px;
}
.Car img{
    width: 500px;
}
.Jaguvar_video video{
    margin-right: 20px;
    margin-top: 20px;

}
.Jaguvar_details {
    margin-top: 30px;
    
}
.Jaguvar audio{
    margin-left: 60px;

}
.Jaguvar_details h2{
    color: white;
}

.Person {
    display: flex;
    justify-content: space-around;
    background-color:rgb(50, 42, 165);
    margin-top: 50px;
    border-radius: 10px;
    gap: 20px;

}
.Sundar-Pichai img{
    width: 500px;
}
.Sundar-Pichai video{
    margin-right: 20px;
    margin-top: 20px;

}
.Sundar-Pichai_details {
    margin-top: 30px;
    
}
.Sundar-Pichai audio{
    margin-left: 60px;

}
.Sundar-Pichai h2{
    color: white;
}